/* ============================================ */
/* Global Styles */
/* ============================================ */
$main-grad-light: #444444;
$main-grad-dark: #3a3a3a;
$sub-grad-light: #353535;
$sub-grad-dark: #272727;
$lytics-blue: #0093D0;
$lytics-blue-darker: #0073a0;
$lytics-green: #3cc479;
$lytics-green-darker: #228e51;
$lytics-red: #f00000;
$lytics-red-darker: #9b0000;
$lytics-orange-warn: #ff9d00;



/* ============================================ */
/* Backend Settings Styles */
/* ============================================ */
